.video {
  margin: 2.6rem auto 0 auto;
  position: relative;
  max-width: 70.63rem;
  video {
    height: 22.4375rem;
    width: 70.63rem;
    object-fit: cover;
    border-radius: 0.625rem;
    @media (max-width: 768px) {
      height: 233px;
    }
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    box-shadow: 200px 200px 100px 100px rgba(0, 0, 0, 0.7) inset;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    padding: 0 2.75rem;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &-titles {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    margin-top: -0.5rem;
    @media (max-width: 768px) {
      margin-top: 0.5rem;
      align-items: center;
    }
    &__title {
      font-size: 4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      color: theme("colors.textTheme.primary");
      margin-top: 9px;
      @media (max-width: 768px) {
        font-size: 1.75rem;
        text-transform: none;
        text-align: center;
      }
    }
    &__subtitle {
      font-size: 1.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: theme("colors.accent.primary");
      text-align: left;
      @media (max-width: 768px) {
        font-size: 1.25rem;
        text-align: center;
      }
    }
    &__text {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.9;
      color: theme("colors.textTheme.primary");
      text-align: left;
      white-space: pre-line;
      @media (max-width: 768px) {
        font-size: 0.875rem;
        text-align: center;
      }
    }
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17.8125rem;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: row;
      width: 100%;
    }
  }
}

.small {
  margin: 2.4rem auto -0.2rem auto;
  video {
    height: 15.125rem;
  }
  .video {
    &-titles {
      gap: 0.25rem;
      height: 11.5rem;
      justify-content: center;
      @media (max-width: 768px) {
        margin-top: 2rem;
      }
      &__title {
        text-transform: none;
        font-size: 3rem;
        font-weight: 400;
        line-height: normal;
        width: 37.25rem;
        margin-top: -1.1rem;
        @media (max-width: 768px) {
          font-size: 1.9375rem;
          text-align: center;
          width: 100%;
        }
        @media (max-width: 375px) {
          font-size: 1.25rem;
        }
      }
      &__text {
        font-size: 1.125rem;
        @media (max-width: 768px) {
          font-size: 0.75rem;
          text-align: center;
        }
      }
    }
    &-buttons {
      height: 11.5rem;
      margin-top: 0.1rem;
      margin-right: 0.05rem;
    }
    &-wrapper {
      padding: 0 1.5rem 0 3.75rem;
      @media (max-width: 768px) {
        padding: 10px;
      }
    }
  }
}