.how-it-works {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  width: calc(min(100%, 70.5rem));
  height: 100%;
  margin-inline: auto;
  margin-bottom: 54px;
  margin-top: 0.6rem;

  text-align: left;
  white-space: nowrap;

  color: #e7e9ea;
}

.how-it-works__title {
  display: flex;
  align-items: flex-start;

  width: 100%;

  font-weight: 400;
  font-size: 2.4375rem;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}

html[lang='he'] .how-it-works__title {
  font-weight: 500;
}

.how-it-works-inner {
  display: flex;
  flex-direction: row;
  gap: 1.35rem;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 10rem;

  text-align: center;

  color: #333535;
}

.how-it-works-inner__step-wrapper {
  position: relative;
}

.how-it-works-inner__step-wrapper::before {
  content: attr(data-number);
  position: absolute;
  top: 52px;
  right: 21px;
  z-index: 1;

  width: calc(90 / 16 * 1rem);
  height: 100%;

  line-height: 0.7;
}

html[lang='he'] .how-it-works-inner__step-wrapper::before {
  right: auto;
  left: 0;
}

.how-it-works-step {
  position: relative;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  /* width: 22.75rem; */
}

.how-it-works-texts {
  position: relative;
  z-index: 2;

  text-align: left;
  white-space: nowrap;

  color: #ffffff;
}

.how-it-works-block {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.how-it-works-step__icon {
  width: 3rem;
  height: 3rem;
}

.how-it-works-step__title {
  position: relative;

  width: 100%;

  font-weight: 600;
  font-size: 1.25rem;
  text-align: left;
  white-space: pre-line;
  line-height: normal;
}

html[lang='he'] .how-it-works-step__title {
  text-align: right;
}

.how-it-works-step__text {
  display: flex;
  align-items: flex-start;

  font-size: 1rem;
  line-height: normal;
  text-align: left;
  white-space: initial;
  width: 19.6rem;

  color: #d0d0d0;
}

.how-it-works-step__text.how-it-works-step__text_tablet {
  display: none;
}

html[lang='he'] .how-it-works-step__text {
  align-items: flex-end;
  text-align: right;
}

@media (min-width: 815px) and (max-width: 1241px) {
  .how-it-works-step__text {
    display: none;
  }

  .how-it-works-step__text.how-it-works-step__text_tablet {
    display: flex;
  }
}

@media (max-width: 815px) {
  .how-it-works {
    align-items: normal;

    padding-inline-start: 20px;
  }

  .how-it-works__title {
    font-weight: 500;
    font-size: calc(31 / 16 * 1rem);
  }

  html[lang='he'] .how-it-works__title {
    font-weight: 600;
  }

  .how-it-works-inner {
    flex-direction: column;

    padding-inline-end: 50px;
  }

  .how-it-works-inner__step-wrapper {
    width: 100%;
  }

  .how-it-works-step {
    width: 100%;
  }
}

/* Старый код */
/* Стили не сгрупированны по https://codeguide.co, часть стилей не имеет никакой назначения, есть стили, которые конфликтуют с другими и не дают выполнить требуемый макетом интерфейс */

/* .how-it-works {
  width: 70.5rem;
  white-space: nowrap;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  text-align: left;
  font-size: 1.13rem;
  color: #e7e9ea;
  margin-top: 3rem;
  position: relative;
  height: 18.06rem;

  align-items: center;
}

.how-it-works-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 10rem;
  color: rgb(51, 53, 53);

  gap: 1.5rem;
}

.how-it-works-title-he {

  font-weight: 400;
  font-size: 2.438rem;

  width: 100%;
  align-items: flex-start;
  display: flex;
}

.how-it-works-title-ru {

  font-weight: 500;
  font-size: 2.438rem;

  width: 100%;
  align-items: flex-start;
  display: flex;
}

.how-it-works-step-text-ru {
  white-space: pre-line;
  align-items: flex-start;
  display: flex;
  text-align: left;
  font-size: 1rem;
  line-height: 1.4;
  width: 22.5rem;
  left: 1.5rem;
  color: #D0D0D0 !important;
}

.how-it-works-step-text-he {
  white-space: pre-line;
  align-items: flex-end;
  display: flex;
  text-align: right;
  font-size: 1rem;
  line-height: 1.4;
  width: 22.5rem;
}

.how-it-works-step-title-ru {
  white-space: pre-line;
  text-align: left;
  position: relative;
  font-weight: 600;
  width: 100%;
}

.how-it-works-step-title-he {
  white-space: pre-line;
  position: relative;
  font-weight: 600;
  text-align: right;
  width: 100%;
}

.how-it-works-digit-ru {

  position: absolute;
  top: -1.375rem;
  right: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 5.63rem;
  height: 12.69rem;
  margin-top: 13px;
}

.how-it-works-digit-he {

  position: absolute;
  top: -1.375rem;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 5.63rem;
  height: 12.69rem;
  margin-top: 13px;
}

.how-it-works-step {
  position: relative;
  border-radius: 10px;
  width: 22.5rem;
  height: 12.5rem;
  overflow: hidden;
  flex-shrink: 0;
  left: 1.5rem;
}

.how-it-works-block {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 19.75rem;
}

.how-it-works-texts {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 3rem;
  height: 3rem;
  text-align: left;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);

  white-space: nowrap;
} */
