.documentStatusLabel{
    background: theme('colors.base.base800'); //стили в случае некорректного статуса
    color: theme('colors.textTheme.disabled'); //стили в случае некорректного статуса

    width: fit-content;
    border-radius: 3px;
    cursor: default;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;

    font-size: 12px;
    font-weight: 500;

    margin-top: 8px;
    margin-bottom: 16px;
}

.accepted {
    background: theme('colors.success.success500');
    color: theme('colors.success.success100');
}

.notAccepted {
    background: theme('colors.error.error500');
    color: theme('colors.error.error100');
}

.checked {
    background: theme('colors.warning.warning500');
    color: theme('colors.warning.warning100');
}