.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.medium {
  width: 32px;
  height: 32px;
}

.gray {
  background-color: #3F444D;
}
