.profileCardWrapper{
  max-width: 892px;
  height: auto;
  background-color: theme('colors.base.secondary');
  border: 1px solid theme('colors.base.stroke');
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem 3.3rem;
  @media (max-width: 1130px) {
    width: fit-content;
    padding: 3.2rem 2.4rem;
  }

  @media (max-width: 380px) {padding: 3.2rem 1.6rem}
}

.profileCardTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileCardTitle {
  font-size: 2.5rem;
  font-weight: 500;
  @media (max-width: 368px) {font-size: 2rem}
  @media (max-width: 320px) {font-size: 1.8rem}
}

.dotWrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32px;
  padding: 6px;
}

.dot {
  width: 3px;
  height: 3px;
  background: theme('colors.base.white');
  border-radius: 50%;
  display: block;
}

.profileCardDetailsWrapper {
  display: flex;
  align-items: center;
  gap: 4.7rem;
  @media (max-width: 1130px) {
    flex-wrap: wrap;
    gap: 24px;
  }
}
