.cookie-holder {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
  font-size: 14px;
  bottom: 100px;
  z-index: 9999;
  @media screen and (max-width: 931px) {
    bottom: 100px;
    padding: 1rem;
    margin: 0 10px;
  }
}

.cookie-text {
  width: 100%;
  padding: 24px 0;
  color: white;
  max-width: 439px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  @media screen and (max-width: 931px) {
    text-align: center;
    font-size: 12px;
  }
}

.cookie-learn-more {
  color: #F5D547 !important;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 4px;
  @media screen and (max-width: 931px) {
    font-size: 12px;
  }
}

.cookie {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  width: 850px;
  height: 111px;
  border-radius: 11px;
  font-size: 14px;
  background: rgb(53, 55, 63);
  transform: translateX(-10px);
  @media screen and (max-width: 931px) {
    flex-direction: column;
    height: fit-content;
  }
}

.cookie_accept {
  width: 182px;
  height: 46px;
  font-weight: 500;
  font-size: 16px;
  @media screen and (max-width: 931px) {
    width: 100%;
  }
}

.cookie-close {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  @media screen and (max-width: 931px) {
    top: 1rem;
  }
}

html[dir="rtl"] .cookie-close {
  left: 1rem;
  right: auto;
}

.accept_btn {
  @media screen and (max-width: 931px) {
    width: 100%;
  }
}
