.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  padding: 1.2rem 1.6rem;
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
}

.primary {
  background-color: theme("colors.accent.primary"); //#FBE54D
  color: theme("colors.base.primary"); //#161616

  &:hover {
    background-color: theme("colors.accent.secondary"); //#F9D66C
  }

  &:active {
    background-color: theme("colors.accent.primaryActiveButton"); //#FFDF00;
  }

  &:disabled {
    background-color: theme("colors.base.primaryDisabledButton"); //#2D2D2D;
    color: theme("colors.textTheme.disabled"); //#848484;
  }
}

.secondary {
  background-color: theme("colors.base.secondaryDefaultButton"); // #333535;
  color: theme("colors.textTheme.primary"); //#FFFFFF;
  border: 1px solid theme("colors.base.secondaryDefaultButton"); // #333535;

  &:hover {
    background-color: theme("colors.base.secondaryHoveredButton"); //#23272F;
    color: theme("colors.textTheme.primary"); //#FFFFFF;
  }

  &:active {
    background-color: theme("colors.base.secondaryActiveButton"); //#3F444D;
    color: theme("colors.textTheme.primary"); //#FFFFFF;
  }

  &:disabled {
    background-color: theme("colors.base.secondaryDisabledButton"); //#333535;
    color: theme("colors.textTheme.disabled"); //#848484;
  }
}

.transparent {
  background-color: transparent;
  color: theme("colors.textTheme.primary"); //#FFFFFF;
  border: transparent;
}

.modalBase {
  background-color: none;
  color: theme("colors.textTheme.primary"); //#FFFFFF;
  border: 2px solid theme("colors.base.warningBaseStrokeAlternative"); // #606363;

  &:hover {
    background-color: theme("colors.base.secondaryHoveredButton"); //#23272F;
    color: theme("colors.textTheme.primary"); //#FFFFFF;
  }

  &:active {
    background-color: theme("colors.base.secondaryActiveButton"); //#3F444D;
    color: theme("colors.textTheme.primary"); //#FFFFFF;
  }

  &:disabled {
    background-color: theme("colors.base.secondaryDisabledButton"); //#333535;
    color: theme("colors.textTheme.disabled"); //#848484;
  }
}

.modalWarning {
  background-color: none;
  color: theme("colors.warning.error100"); //#E76143;
  border: 1px solid theme("colors.warning.error100"); // #E76143;

  &:hover {
    background-color: theme("colors.base.secondaryHoveredButton"); //#23272F;
    color: theme("colors.warning.error100"); //#E76143;
  }

  &:active {
    background-color: theme("colors.warning.error100"); //#E76143;
    color: theme("colors.textTheme.primary"); //#FFFFFF;
  }

  &:disabled {
    background-color: theme("colors.base.secondaryDisabledButton"); //#333535;
    color: theme("colors.textTheme.disabled"); //#848484;
  }
}

.internalButton {
  min-height: 1rem;
  padding-left: 39px;
  padding-right: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  min-width: 136px;
  max-width: 136px;
}

.smallLong {
  min-width: 225px;
  max-width: 225px;
}

.medium {
  max-width: 217px;
  min-width: 217px;
}

.full {
  width: 100%;
  padding: 0;
}

.isDisabled {
  background: theme("colors.base.secondaryDisabledButton");
  color: theme("colors.textTheme.disabled");
  cursor: not-allowed;

  &:hover {
    background-color: theme("colors.base.secondaryDisabledButton"); //#23272F;
    color: theme("colors.textTheme.disabled"); //#FFFFFF;
  }

  &:active {
    background-color: theme("colors.base.secondaryDisabledButton"); //#23272F;
    color: theme("colors.textTheme.disabled"); //#FFFFFF;
  }

  dialog & {
    background-color: theme("colors.base.tertiaryDisabledButton");
  }
}

.link {
  width: 100%;
}
