.container{
  @media screen and (max-width: 1024px) {
    padding: 0 1rem;
  }
}

.nav_hover{
  content: ' ';
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(2px);
  z-index: 9999;
}

main{
  min-height: 100vh;
}