.informationCardPlate{
    padding: 24px;
    border-radius: theme('borderRadius.roundedLg');
    background: theme('colors.base.secondary');
    max-width: 327px;
    width: 327px;

    @media (max-width: 1024px) {
        width: 277px;
    }

    @media (max-width: 640px) {
        max-width: 100%;
        width: 100%;
    }
}

.informationCardTopLine{
    height: 24px;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.informationCardTitleText{
    font-size: 16px;
    font-weight: 700;
}

.informationCardBottomLine{
    max-width: 279px;
    display: flex;
    flex-direction: column;
}

.informationCardDataText{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.pencilIcon {
    cursor: pointer;
}