.image {
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-top: 0.1rem;
}

.inner-div {
  position: relative;
  display: inline-block;
  width: 17rem;
  flex-shrink: 0;
  text-align: start;
}

.bold-text {
  font-weight: 400;
  color: #fbe54d;
}
