.card {
  border-radius: 0.375rem;
  background: #35373f;
  padding: 1.5rem 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  &-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    &__ellipse {
      width: 0.875rem;
      height: 0.875rem;
      border-radius: 50%;
      background: #fbe54d;
    }
    &__text {
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      max-width: 15.1rem;
    }
    &__info {
      cursor: pointer;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    &__desc {
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 1.05rem */
      color: #d0d0d0;
    }
    &__price {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: 390px) {
        font-size: 1rem;
      }
    }
  }
  &-desc {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 7rem;
    @media (max-width: 390px) {
      width: 6rem;
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      &-desc {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 1.05rem */
        color: #d0d0d0;
      }
      &-title {
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

.wrapper {
  display: flex;
  gap: 3.65rem;
  @media (max-width: 390px) {
    gap: 2.5rem;
  }
}
