.tabPlaya{
    max-width: 100%;
    @media (max-width: 920px) {overflow-x: auto}
}

.tabPlate{
    display: flex;
    flex-direction: column;
}

.tabTitles{
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    @media (max-width: 920px) {
        margin-bottom: 28px;
    }
}

.tabTitle{
    padding: 14px 32px;
    color: theme('colors.textTheme.disabled');
    border-bottom: 1px solid theme('colors.base.stroke');
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    height: 47px;

    &:hover{color: theme('colors.textTheme.secondary')}
}

.tabTitleActive{
    padding: 14px 32px;
    color: theme('colors.accent.primary');
    border-bottom: 2px solid theme('colors.base.stroke');
    cursor: default;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    height: 47px;
}

.tabsContent{
    width: 100%;
}