.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 8px;
}

.accordion_header {
  display: flex;
  height: 62px;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  background-color: theme('colors.base.secondary');
  border: 1px solid theme('colors.base.stroke');
  border-radius: 8px;
  cursor: pointer;


}

.accordion_value {
  display: flex;
  flex-wrap: wrap;
  font-size: theme('fontSize.xl');

  @media (max-width: 300px) {
    font-size: theme('fontSize.base');
  }
}

// .accordion_caret {
//   width: 32px;
//   height: 32px;
// }

.caret_open {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
}

.caret_close {
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}

.accordion_container {
  display: flex;
  padding: 16px 23px;
  background-color: theme('colors.base.inputs');
  border: 1px solid theme('colors.base.stroke');
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 300px) {
    padding: 8px;
  }
}

.container_close {
  max-height: 0px;
  opacity: 0;
  transition:
    max-height 0.2s linear,
    opacity 0.2s linear;
}

.container_open {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  height: auto;
  padding: 16px 23px;
  row-gap: 16px;
  transition: max-height 0.2s linear;
  opacity: 1;
  overflow-y: auto;
}
