.root {
  display: flex;
  justify-content: flex-start;
  column-gap: 32px;
  font-size: theme('fontSize.sm');
  line-height: 17px;
  color: theme('colors.textTheme.disabled');
  

 

  @media (max-width: 768px) {
    flex-direction: column;
    row-gap: 16px;
  }
}

.item {
  font-size: theme('fontSize.sm');
  line-height: 17px;
  transition: color .2s linear;
  cursor: pointer;

   &:hover {
    color: theme('colors.textTheme.primary');
    transition: color .2s linear;
  }

}
