.plateModal{
    margin-top: -8px;
    margin-bottom: -8px;
    @media (max-width: 920px) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.buttonLine{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @media (max-width: 768px) {
        justify-content: center;
    }
}

.exitPlate{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 16px;
    color: theme('colors.textTheme.primary');
}

.imgPlate{
    max-width: 80vw;
    overflow: auto;
    @media (max-width: 920px) {
        max-width: 100%;
    }
    display: flex;
}


.imgViewHorisontal{
    height: 100%;
    max-width: none;
    transition: width 0.1s ease-in-out;
}

.imgViewVertical{
    object-fit: contain;
    max-width: none;
    width: 100%;
    transition: height 0.1s ease-in-out;
}

.NoData{
    width: 100%;
    text-align: center;
    color: theme('colors.textTheme.primary');
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 10px;
}