.infoPlate{
    display: grid;
    grid-template-columns: repeat(3, 267px);
    grid-gap: 24px;
    height: fit-content;

    @media (max-width: 1223px) {grid-template-columns: repeat(2, 267px)}
    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 100%);
    }

    @media (max-width: 768px) {
        margin-top: 24px;
        margin-bottom: 16px;
    }

    @media (max-width: 640px) {
        flex-direction: column;
        gap: 16px;
    }
}

.infoPlateOne{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
        margin-top: 24px;
        margin-bottom: 16px;
    }

    @media (max-width: 640px) {
        flex-direction: column;
        gap: 16px;
    }

    @media (max-width: 367px) {
        width: 100%;
    }
}

.buttonQue{
    width: 162px;
    margin-bottom: 40px;
    @media (max-width: 640px) {
        width: 100%;
    }
}

.buttonSend{
    width: 325px;
    margin-bottom: 40px;
    @media (max-width: 640px) {
        width: 100%;
    }
}