-- Migration: Admin-Configurable Banking Standards
-- Date: 2025-01-13
-- Purpose: Add admin-configurable banking standards for 4 separate business paths
-- Business Paths: Mortgage, Mortgage Refinance, Credit/Loan, Credit/Loan Refinance

-- =====================================================
-- 1. BANKING STANDARDS CONFIGURATION TABLE
-- =====================================================

CREATE TABLE IF NOT EXISTS banking_standards (
    id SERIAL PRIMARY KEY,
    business_path VARCHAR(30) CHECK (business_path IN ('mortgage', 'mortgage_refinance', 'credit', 'credit_refinance')) NOT NULL,
    standard_category VARCHAR(50) NOT NULL, -- 'ltv', 'dti', 'credit_score', 'age', 'income', 'employment'
    standard_name VARCHAR(100) NOT NULL,
    standard_value DECIMAL(10,4) NOT NULL,
    value_type VARCHAR(20) CHECK (value_type IN ('percentage', 'ratio', 'amount', 'years', 'score')) NOT NULL,
    min_value DECIMAL(10,4),
    max_value DECIMAL(10,4),
    description TEXT,
    is_active BOOLEAN DEFAULT TRUE,
    is_required BOOLEAN DEFAULT TRUE,
    priority_order INTEGER DEFAULT 1,
    effective_from DATE DEFAULT CURRENT_DATE,
    effective_to DATE,
    created_by INTEGER REFERENCES clients(id) ON DELETE SET NULL,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    UNIQUE(business_path, standard_category, standard_name)
);

-- =====================================================
-- 2. BANK-SPECIFIC STANDARDS OVERRIDES
-- =====================================================

CREATE TABLE IF NOT EXISTS bank_standards_overrides (
    id SERIAL PRIMARY KEY,
    bank_id INTEGER REFERENCES banks(id) ON DELETE CASCADE,
    banking_standard_id INTEGER REFERENCES banking_standards(id) ON DELETE CASCADE,
    override_value DECIMAL(10,4) NOT NULL,
    override_reason TEXT,
    is_active BOOLEAN DEFAULT TRUE,
    effective_from DATE DEFAULT CURRENT_DATE,
    effective_to DATE,
    created_by INTEGER REFERENCES clients(id) ON DELETE SET NULL,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    UNIQUE(bank_id, banking_standard_id)
);

-- =====================================================
-- 3. CALCULATION RULES ENGINE
-- =====================================================

CREATE TABLE IF NOT EXISTS calculation_rules (
    id SERIAL PRIMARY KEY,
    business_path VARCHAR(30) CHECK (business_path IN ('mortgage', 'mortgage_refinance', 'credit', 'credit_refinance')) NOT NULL,
    rule_name VARCHAR(100) NOT NULL,
    rule_type VARCHAR(30) CHECK (rule_type IN ('validation', 'calculation', 'approval', 'rejection')) NOT NULL,
    rule_condition TEXT NOT NULL, -- JSON condition
    rule_action TEXT NOT NULL, -- JSON action
    rule_priority INTEGER DEFAULT 1,
    is_active BOOLEAN DEFAULT TRUE,
    description TEXT,
    created_by INTEGER REFERENCES clients(id) ON DELETE SET NULL,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW()
);

-- =====================================================
-- 4. APPROVAL MATRIX CONFIGURATION
-- =====================================================

CREATE TABLE IF NOT EXISTS approval_matrix (
    id SERIAL PRIMARY KEY,
    business_path VARCHAR(30) CHECK (business_path IN ('mortgage', 'mortgage_refinance', 'credit', 'credit_refinance')) NOT NULL,
    approval_level VARCHAR(30) CHECK (approval_level IN ('auto_approve', 'manual_review', 'conditional', 'auto_reject')) NOT NULL,
    condition_name VARCHAR(100) NOT NULL,
    condition_logic TEXT NOT NULL, -- JSON logic
    approval_message TEXT,
    rejection_reason TEXT,
    required_documents TEXT[], -- Array of required document types
    is_active BOOLEAN DEFAULT TRUE,
    created_by INTEGER REFERENCES clients(id) ON DELETE SET NULL,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW()
);

-- =====================================================
-- 5. INSERT DEFAULT BANKING STANDARDS
-- =====================================================

-- MORTGAGE STANDARDS

-- MORTGAGE REFINANCE STANDARDS

-- CREDIT/LOAN STANDARDS

-- CREDIT REFINANCE STANDARDS

-- =====================================================
-- 6. CREATE INDEXES FOR PERFORMANCE
-- =====================================================

CREATE INDEX IF NOT EXISTS idx_banking_standards_business_path ON banking_standards(business_path);
CREATE INDEX IF NOT EXISTS idx_banking_standards_category ON banking_standards(standard_category);
CREATE INDEX IF NOT EXISTS idx_banking_standards_active ON banking_standards(is_active);
CREATE INDEX IF NOT EXISTS idx_bank_standards_overrides_bank_id ON bank_standards_overrides(bank_id);
CREATE INDEX IF NOT EXISTS idx_bank_standards_overrides_standard_id ON bank_standards_overrides(banking_standard_id);
CREATE INDEX IF NOT EXISTS idx_calculation_rules_business_path ON calculation_rules(business_path);
CREATE INDEX IF NOT EXISTS idx_calculation_rules_type ON calculation_rules(rule_type);
CREATE INDEX IF NOT EXISTS idx_calculation_rules_active ON calculation_rules(is_active);
CREATE INDEX IF NOT EXISTS idx_approval_matrix_business_path ON approval_matrix(business_path);
CREATE INDEX IF NOT EXISTS idx_approval_matrix_level ON approval_matrix(approval_level);
CREATE INDEX IF NOT EXISTS idx_approval_matrix_active ON approval_matrix(is_active);

-- =====================================================
-- 7. CREATE TRIGGERS FOR UPDATED_AT
-- =====================================================

CREATE TRIGGER trigger_update_banking_standards_updated_at
    BEFORE UPDATE ON banking_standards
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER trigger_update_bank_standards_overrides_updated_at
    BEFORE UPDATE ON bank_standards_overrides
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER trigger_update_calculation_rules_updated_at
    BEFORE UPDATE ON calculation_rules
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER trigger_update_approval_matrix_updated_at
    BEFORE UPDATE ON approval_matrix
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

-- =====================================================
-- 8. CREATE ADMIN FUNCTIONS FOR STANDARDS MANAGEMENT
-- =====================================================

-- Function to get active standards for a business path
CREATE OR REPLACE FUNCTION get_banking_standards(p_business_path VARCHAR(30), p_bank_id INTEGER DEFAULT NULL)
RETURNS TABLE (
    standard_category VARCHAR(50),
    standard_name VARCHAR(100),
    standard_value DECIMAL(10,4),
    value_type VARCHAR(20),
    description TEXT
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        bs.standard_category,
        bs.standard_name,
        COALESCE(bso.override_value, bs.standard_value) as standard_value,
        bs.value_type,
        bs.description
    FROM banking_standards bs
    LEFT JOIN bank_standards_overrides bso ON bs.id = bso.banking_standard_id 
        AND bso.bank_id = p_bank_id 
        AND bso.is_active = true
        AND (bso.effective_to IS NULL OR bso.effective_to >= CURRENT_DATE)
    WHERE bs.business_path = p_business_path
        AND bs.is_active = true
        AND (bs.effective_to IS NULL OR bs.effective_to >= CURRENT_DATE)
    ORDER BY bs.standard_category, bs.standard_name;
END;
$$ LANGUAGE plpgsql;

-- =====================================================
-- MIGRATION COMPLETED
-- =====================================================
-- New Tables: 4 (banking_standards, bank_standards_overrides, calculation_rules, approval_matrix)
-- New Indexes: 11
-- New Functions: 1
-- New Triggers: 4
-- Default Records: 35+ banking standards across 4 business paths
-- Status: Admin-configurable banking standards ready for use
