.info {
  display: flex;
  border-radius: 0.375rem;
  border: 1px dashed #333535;
  padding: 0.9375rem 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  &-title {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.225rem */
    width: 100%;
    word-wrap: break-word;
  }
  &-icon {
    width: 30px;
  }
}
