.modal {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #fff;
  margin-top: 3rem;
  max-width: 48.875rem;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    min-width: auto;
    height: 100%;
    gap: 1.5rem;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    gap: 4.25rem;
  }
  &-buttons {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    gap: 2rem;
    border-top: 1px solid #333535;
    padding-top: 2rem;
    @media (max-width: 1024px) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      min-width: auto;
      gap: 1rem;
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.component:nth-child(n + 3) {
  margin-top: 2rem;
}

@media (max-width: 1024px) {
  .component {
    flex: 1 1 100%;
  }

  .component {
    margin-top: 1.5rem;
  }
}

.buttons{
  display: flex;
  gap: 2rem;
  @media (max-width: 768px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: auto;
    gap: 1rem;
  }
}