.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 6px 12px;
  border-radius: 4px;
  line-height: 140%;
  width: 100%;
  @apply font-ru font-normal bg-warning-validation text-3xs text-textTheme-primary;
}

.item {
  position: relative;
  padding-left: 10px;
  line-height: 140%;
  @apply font-ru font-normal bg-warning-validation text-3xs text-textTheme-primary;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    @apply bg-base-secondaryIcon;
  }
}
.list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}