.mortgageCardProgressBar {
  padding-top: 1rem;
  width: 100%;
}

.mortgageCardProgressBarText {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  color: theme('colors.textTheme.secondary');
  padding-top: 10px;
}
