.root {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.button_close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.button {
  all: unset;
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: theme('fontSize.xl');
  line-height: 19px;
  font-weight: theme('fontWeight.medium');
  cursor: pointer;
  transition:
    opacity 0.2s linear,
    border 0.2s linear;
}

.button_primary {
  background-color: theme('colors.accent.primary');
  color: theme('colors.base.primary');

  &:hover {
    opacity: 0.95;
    transition: opacity 0.2s linear;
  }
}

.button_secondary {
  background-color: transparent;
  border: 1px solid theme('colors.base.base900');
  color: theme('colors.textTheme.primary');
  transition: border-color 0.2s linear;

  &:hover {
    opacity: 0.95;
    border-color: theme('colors.textTheme.primary');
    transition: border-color 0.2s linear;
  }
}

.button_disabled {
  cursor: none;
  background-color: gray;
}
