.inputPlate{
  position: relative;
}

.inputTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    color: theme('colors.textTheme.primary');
}

.input{
  border-radius: 5px;
  outline: none;

  font-size: 16px;
  font-weight: 400;

  background-color: theme('colors.base.inputs');
  color: theme('colors.textTheme.primary');
  border: 1px solid theme('colors.base.stroke');

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder { color: theme('colors.textTheme.disabled') }
  &::-ms-input-placeholder { color: theme('colors.textTheme.disabled') }
  
  &:focus {
    border: 1px solid theme('colors.accent.primary');
  }

  &:invalid {
    border: 1px solid theme('colors.error.error100');
  }
  
  &:disabled {
    background: theme('colors.base.disabled');
    color: theme('colors.textTheme.disabled');
  }
}

.medium{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.small{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}