.transactionsTitle{
    font-size: 31px;
    font-weight: 500;
    padding-bottom: 24px;

    @media (max-width: 920px) {
        font-size: 20px;
        padding-bottom: 12px;
    }
}

.transactionsTitleNo{
    font-size: 31px;
    font-weight: 500;
    padding-bottom: 24px;

    @media (max-width: 920px) {
        font-size: 20px;
        padding-bottom: 12px;
    }

    @media (max-width: 630px) {
        display: none;
    }
}

.transactionsService{
    font-size: 16px;
    font-weight: 500;

    @media (max-width: 920px) {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.transactionsSum{
    font-size: 14px;
    font-weight: 500;
    
    @media (max-width: 920px) {
        font-size: 12px;
    }
}

.transactionsID{
    font-size: 14px;
    font-weight: 400;
    color: theme('colors.textTheme.disabled');
    @media (max-width: 920px) {
        font-size: 12px;
    }
}

.transactionsSuccess{
    font-size: 14px;
    font-weight: 500;
    color: theme('colors.success.success100');
    @media (max-width: 920px) {
        font-size: 12px;
    }
}

.transactionsFailed{
    font-size: 14px;
    font-weight: 500;
    color: theme('colors.error.error100');
    @media (max-width: 920px) {
        font-size: 12px;
    }
}

.transactionsDate{
    font-size: 16px;
    font-weight: 400;
    @media (max-width: 920px) {
        font-size: 12px;
    }
}

.transactionsTime{
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    color: theme('colors.textTheme.disabled');
}

.transactionsDownload{
    font-size: 16px;
    font-weight: 400;
    color: theme('colors.accent.primary');
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    cursor: pointer;
}

.noDataPlate{
    width: 100%;
    flex-direction: column;
    padding-top: 18px;
    @media (max-width: 640px) {
        padding-top: 10px;
    }
}

.noDataTitle{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 4px;

    @media (max-width: 640px) {
        margin-top: 28px;
    }
}

.noDataText{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: theme('colors.textTheme.disabled');
    @media (max-width: 630px) {
        margin-left: 15%;
        width: 70%;
    }
}

.transactionsServiceBlock{
    @media (max-width: 640px) {
        max-width: 62px;
    }
}

.mobileTableDotsPlate{
    position: relative;
}
