.documents {
  display: flex;
  flex-direction: column;
  &-title {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: theme("colors.textTheme.primary");
    margin-bottom: 1.5rem;
    text-align: left;
  }
  &-items {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.225rem */
    color: theme("colors.textTheme.secondary");
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
    a {
      cursor: pointer;
      color: theme("colors.textTheme.secondary");
      text-decoration: none;
      transition: color 0.2s ease;
      &:hover {
        text-decoration: underline;
        color: theme("colors.textTheme.primary");
      }
    }
    &__links {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.accordion {
  &-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid theme("colors.base.secondaryDefaultButton");
    padding: 0.9375rem 1.4375rem;
    margin: 0;
    cursor: pointer;
    align-items: center;
    .caret-down {
      transition: all 0.1s ease;
    }
  }
  &-divider {
    width: 100%;
  }
  &-items {
    opacity: 0;
    transition: all 0.3s ease;
    height: 0;
    padding: 0 1.5rem;
    overflow: hidden;
    pointer-events: none;
    a {
      display: block;
      padding: 0.5rem 0;
      color: theme("colors.textTheme.secondary");
      text-decoration: none;
      font-size: 0.875rem;
      transition: color 0.2s ease;
      &:hover {
        color: theme("colors.textTheme.primary");
        text-decoration: underline;
      }
    }
  }
  &-documents {
    width: 100%;
  }
}

.opened {
  opacity: 1;
  transition: all 0.3s ease;
  height: auto;
  padding: 1.5rem;
  pointer-events: auto;
}

.caret-down-opened {
  transform: rotate(180deg);
  transition: all 0.1s ease;
}
