.root {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 16px;
  column-gap: 12px;
  border-bottom: 1px solid theme('colors.base.base900');
}

.notification_icon {
  width: 24px;
  height: 24px;
}

.notification {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 8px;
}

.notification_readed {
  opacity: 0.7;
}

.notification_title {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-size: theme('fontSize.base');
  font-weight: theme('fontWeight.medium');
  color: theme('colors.white');
}

.notification_body {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  font-size: theme('fontSize.sm');
  color: theme('colors.textTheme.secondary');
}

.notification_body_error {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 8px;
}

.notification_body_error_message {
  font-size: theme('fontSize.sm');
  font-weight: theme('fontWeight.extralight');
}

.notification_date {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: theme('fontSize.extraSm');
  color: theme('colors.textTheme.secondary');
}
