$primary-background-color: #2a2b31;
$primary-border-color: #333535;
$primary-color: #fff;
$primary-font-weight: 400;
$primary-font-size: 20px;
$primary-input-height: 3rem;
$primary-input-width: 16rem;
$currency-image-dimensions: 1.25rem;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $primary-input-height;
  border: 1px solid $primary-border-color;
  background-color: $primary-background-color;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  dialog & {
    background-color: #35373f;
  }
}

.input {
  font-weight: $primary-font-weight;
  background: transparent;
  color: $primary-color;
  outline: none;
  border: none;
  font-size: $primary-font-size;
  height: 100%;
  width: inherit;
}

.currencyImage {
  width: $currency-image-dimensions;
  height: $currency-image-dimensions;
}

.emptyCurrencyDiv {
  width: 1.15rem;
  height: $currency-image-dimensions;
  overflow: hidden;
  flex-shrink: 0;
}

.error {
  border: 1px solid #e76143;
  border-radius: 0.25rem;
}

.xs {
  font-size: 1rem;
}
