.wrapper {
  max-width: 600px;
  width: 80vw;
  padding: 0 8px;
}
.title {
  line-height: normal;
  margin-top: 16px;
  text-wrap: wrap;
  @apply font-normal text-xl text-textTheme-primary;
  @media screen and (max-width: 600px) {
    font-size: 1.25rem;
  }
}

.descr {
  line-height: 140%;
  text-transform: none;
  margin-top: 16px;
  @apply font-normal text-2xs text-textTheme-secondary;
}

.verifyInputs {
  margin-top: 24px;
}

.sendAgainWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  line-height: 140%;
  margin-top: 24px;
  @apply font-normal text-2xs text-textTheme-secondary;
  @media screen and (max-width: 600px) {
    font-size: 0.75rem;
  }
}

.sendAgainButton {
  opacity: 0.9;
  @apply text-accent-primary;
  
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    @apply text-textTheme-disabled;
  }
}

.wrapperButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin-top: 32px;
}

.confirm {
  text-align: center;
  line-height: 140%;
  padding: 12px 16px;
  width: 100%;
  border-radius: 8px;
  //background: #41434E;
  border: 1px solid #41434e;
  @apply font-medium text-xs bg-accent-primary text-textTheme-darkPrimary disabled:text-textTheme-disabled disabled:border-base-tertiaryDisabledButton disabled:bg-base-tertiaryDisabledButton;
}

.back {
  text-align: center;
  line-height: 140%;
  padding: 12px 16px;
  width: 100%;

  border-radius: 8px;
  border: 1px solid #41434e;
  @apply font-medium text-xs text-textTheme-primary;
}
