.mortgageCardDetailsWrapper {
  width: 268px;
  @media (max-width: 600px) {
    width: 100%;
  }
  .mortgageCardDetailsInfo {
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 49px;
    
    row-gap: 30px;
    @media (max-width: 920px) {
      padding-top: 30px;
    }
  }
}

