input:focus {
  outline: none;
}

.react-datepicker__input-container > input {
  background: transparent;
}

.react-datepicker__header {
  padding: 8px 0;
  background-color: #2a2b30 !important;
  border: none !important;
}

.react-datepicker {
  border: 1px solid #333535 !important;
  color: #d0d0d0 !important;
  background-color: #2a2b30 !important;
  margin-left: -24px;
  margin-top: 10px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  display: flex !important;
  justify-content: center;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 5rem !important;
  width: 3.2rem;
  color: #000000 !important;
  background-color: #fbe54d !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 5rem !important;

  color: #000000 !important;
  background-color: #fbe54d !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 50% !important;

  color: #000000 !important;
  background-color: #fbe54d !important;
}

.react-datepicker__day--disabled:hover,
.react-datepicker__month-text--disabled:hover,
.react-datepicker__quarter-text--disabled:hover,
.react-datepicker__year-text--disabled:hover {
  cursor: not-allowed;
}

.react-datepicker__month-container {
  width: 322px;
}

.react-datepicker__week {
  display: flex;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-evenly;
}

.react-datepicker__day {
  align-items: center;
  height: 2.5rem;
  width: 100% !important;
  color: #fff;
}

html:has(dialog[open]) {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
