.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.column {
  flex: 1;
  min-width: calc(50% - 1rem);
  max-width: 500px;
  @media (max-width: 1200px) {
    min-width: 100%;
  }
}
