.card{
  display: flex;
  flex-direction: column;
  padding: 2.4375rem;
  align-items: center;
  gap: 1.3125rem;
  border-radius: 0.5rem;
  background: theme('colors.base.secondary');
  &-icon{
    background: theme('colors.base.base800');
    border-radius: 50%;
    width: 4.25rem;
    height: 4.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-title{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: theme("colors.textTheme.primary");
  }
  &-text{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: theme('colors.textTheme.secondary');
  }
}

.default{
  width: 22.4375rem;
}

.full{
  width: 100%;
}