.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (max-width: 1240px) {
    padding: 24px 55px 58px;
  }

  @media (max-width: 900px) {
    padding: 24px 20px 58px;
  }

  & > button {
    width: 32px;
    height: 32px;
    position: relative;

    @media (min-width: 900px) {
      width: 24px;
      height: 24px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: white;
    }

    &:before {
      left: 15px;
      transform: rotate(45deg);

      @media (min-width: 900px) {
        left: 27px;
      }
    }

    &:after {
      right: 14px;
      transform: rotate(-45deg);

      @media (min-width: 900px) {
        left: 27px;
      }
    }
  }
}