.add-button {
  border-radius: 0.5rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  &-text {
    text-align: left;
    padding-right: 0;
    line-height: normal;
  }
}

.error {
  border: 1px solid #e76143;
}

.outline {
  border: 1px solid #333535;
}

.wrapper {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
