.root {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  padding: 0 16px;
  column-gap: 8px;
  cursor: pointer;

  &:hover {
    color: gray;
  }
}

.rtl {
  flex-direction: row-reverse;
  justify-content: flex-end;
}