.root {
  width: 204px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    width: 40px;
  }
}

.rtl {
  flex-direction: row-reverse;
}

.caret_open {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
}

.caret_close {
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}