.message {
  display: flex;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: theme("colors.base.secondary");
  gap: 0.25rem;
  &-content {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.05rem */
    color: theme("colors.textTheme.primary");
  }
}
