.message{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    display: flex;
    cursor: default;
    border-radius: 4px;
    margin-top: 8px;
}

.iconMarginRight{
    margin-right: 4px;
    margin-top: 1px;
}

.iconMarginLeft{
    margin-left: 4px;
    margin-top: 2px;
}

.messageText{
    font-size: 12px;
    font-weight: 400;
    color: theme('colors.textTheme.primary');
}

.error{
    background: theme('colors.error.error100');
}

.info{
    background: theme('colors.base.secondary');
}

.success{
    background: theme('colors.success.success100');
}