.enter {
  padding: 12px 16px;
  width: 100%;
  text-align: center;
  line-height: 140%;
  border-radius: 8px;
  margin-top: 24px;
  @apply font-ru font-medium text-xs text-textTheme-darkPrimary bg-accent-primary border border-solid border-accent-primary disabled:text-textTheme-disabled disabled:bg-base-tertiaryDisabledButton;
}

.close {
  text-align: center;
  line-height: 140%;
  padding: 12px 16px;
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #41434E;
  @apply font-ru font-medium text-xs text-textTheme-primary;
}