.progress {
  background: #1f2023;
  padding: 0.625rem 0;
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 5.6875rem;
  &-item {
    display: flex;
    align-items: center;
    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.62rem;
    }
    &__number {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: rgba(51, 53, 53, 1);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: #848484;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__text {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #848484;
    }
    &__line {
      width: 4.1875rem;
      height: 0.125rem;
      border-top: 0.125rem solid #333535;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0rem;
  width: 70.8rem;
  margin-left: -0.1rem;
  margin-top: -0.1rem;
  @media screen and (max-width: 1200px) {
    justify-content: center;
    padding: 1.25rem 1.25rem;
  }
}

.active {
  background: rgba(251, 229, 77, 1);
  color: #161616;
}

.activeText {
  color: #fff;
}

.activeHr {
  border-top: 0.125rem solid rgba(251, 229, 77, 1);
}

.checked {
  background: rgba(251, 229, 77, 1);
  color: #161616;
}

// .checked::after {
//   content: "✔";
//   font-size: 1rem;
//   color: #161616;
// }

.checkedHr {
  border-top: 0.125rem solid rgba(251, 229, 77, 1);
}

.checkedText {
  color: rgba(251, 229, 77, 1);
}

@media screen and (max-width: 1200px) {
  .progress {
    &-item {
      align-items: flex-start;
      &__wrapper {
        flex-direction: column;
        gap: 0.4rem;
      }
      &__line {
        margin-top: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .progress {
    &-item {
      &__text {
        font-size: 1rem;
      }
      &__line {
        margin: 14px auto;
        width: 3rem;
      }
      &__wrapper {
        width: 5rem;
      }
    }
  }
  .wrapper {
    padding: 0.6875rem 1.25rem;
  }
}

@media screen and (max-width: 550px) {
  .progress {
    &-item {
      &__text {
        font-size: 0.75rem;
      }
      &__line {
        margin: 14px auto;
        width: 2rem;
      }
      &__wrapper {
        width: 3rem;
      }
    }
  }
  .wrapper {
    padding: 0.6875rem 1.25rem;
  }
}
