.login {
  display: flex;
  flex-direction: column;
  max-width: 34rem;
  color: theme("colors.textTheme.primary");
  gap: 1.5rem;
  &-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__text {
      font-size: 1.5625rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: theme("colors.textTheme.primary");
      margin-top: 2rem;
    }
    &__desc {
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: theme("colors.textTheme.secondary");
      opacity: 0.9;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    &__input {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
    &__desc {
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 1.05rem */
      color: theme("colors.textTheme.secondary");
      opacity: 0.9;
    }
    &__client {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      color: theme("colors.textTheme.secondary");
      opacity: 0.9;
    }
  }
}

.highlighted {
  color: theme("colors.accent.primary");
}
