.dropdown {
  position: relative;
  height: 3rem;
  border: 1px solid #333535;
  background: transparent;
  height: 2rem;
  width: 6.625rem;
  cursor: pointer;
  border-radius: 0.375rem;
  padding: 0.375rem 0.5rem;
  dialog & {
    background: #35373f;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  &-input {
    cursor: pointer;
    background: #2a2b31;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 4rem;
    dialog & {
      background: #35373f;
    }
    &::placeholder {
      dialog & {
        color: #848484;
      }
    }
  }
  &-select {
    position: absolute;
    left: 0;
    top: 2.25rem;
    z-index: 10;
    max-height: 12.25rem;
    width: 100%;
    overflow: auto;
    border-radius: 0.375rem;
    background: #3f444d;
    padding: 0.5rem 0rem;
    &__item {
      display: flex;
      width: 100%;
      cursor: pointer;
      justify-content: center;
      border-radius: 0.375rem;
      padding: 0.25rem 0rem;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: theme("colors.textTheme.primary");
      &:hover {
        background: #fbe54d;
        color: theme("colors.textTheme.darkPrimary");
      }
    }
    &__search {
      padding: 0.5rem 0.75rem;
      &-wrapper {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 0.3125rem;
        border: 1px solid #333535;
        background: #2a2b31;
        margin: 0 auto;
        width: 100%;
      }
      &-input {
        background: #2a2b31;
        margin: 0 auto;
        width: 100%;
        padding-left: 0.5rem;
        font-style: normal;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 140%;
        &::placeholder {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          color: #848484;
        }
      }
      &-no-result {
        display: flex;
        justify-content: center;
        padding: 0.625rem 1rem;
      }
    }
  }
}

.selected {
  background: #fbe54d;
  color: theme("colors.textTheme.darkPrimary");
}
