.tablePlaya{
    max-width: 100%;
    overflow-x: auto;
    overflow-y: unset;
    height: max-content;
}

.tablePlate{
    border-collapse: collapse;
    height: max-content;
}

.tableTitle{
    padding: 22px 32px;
    background: theme('colors.base.secondary');
    font-size: 14px;
    font-weight: 600;
    height: max-content;

    @media (max-width: 920px) {
        padding: 21.5px 16px;
        font-size: 12px;
    }

    //text-align: left;
    
}

.tableCell{
    padding: 22px 32px;
    border-bottom: 1px solid theme('colors.base.stroke');
    @media (max-width: 920px) {padding: 16px 20px}
    height: max-content;
}