.left-icon {
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  top: 35%;
  z-index: 999;
  @media (max-width: 1200px) {
    top: -54px;
    left: 146px;
    html[dir="rtl"] & {
      left: 0;
    }
  }
}

.right-icon {
  position: absolute;
  right: 0;
  top: 35%;
  z-index: 999;
  @media (max-width: 1200px) {
    top: -54px;
    left: 200px;
    html[dir="rtl"] & {
      left: 100px;
      right: auto;
    }
  }
}
