.passwordInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.label {
  display: block;
  text-align: start;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.wrapper {
  position: relative;
  width: 100%;
}
.password {
  border: 1px solid #41434e;
  border-radius: 4px;
  background: #35373f;
  color: #848484;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 100%;
}

.inputRU {
  padding: 12px 56px 12px 24px;
}

.inputHE {
  padding: 12px 24px 12px 56px;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.buttonRU {
  right: 24px;
}

.buttonHE {
  left: 24px;
}

.error {
  border: 1px solid #e76143;
}
