.menuItemPlate{
    width: 100%;
    padding: 10px 10px 8px 8px;
    display: flex;
    color: theme('colors.textTheme.secondary');
}

.menuItemPlate:hover{
    color: theme('colors.textTheme.primary');
}

.menuItemPlate:active{
    color: theme('colors.accent.primary');
}

.menuItemPlateSelectRight{
    width: 100%;
    padding: 10px 8px 10px 8px;
    display: flex;
    border-right: 2px solid theme('colors.accent.primary');
    color: theme('colors.accent.primary');
}

.menuItemPlateSelectLeft{
    width: 100%;
    padding: 10px 8px 10px 8px;
    display: flex;
    border-left: 2px solid theme('colors.accent.primary');
    color: theme('colors.accent.primary');
}