.root {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 16px;
  column-gap: 12px;
  border-bottom: 1px solid theme('colors.base.base900');
}

.notifications {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.notification_body {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 8px;
}

.notification_icon_container {
  display: flex;
  position: relative;
}

.notification_body_icon_ltr {
  position: relative;
  left: -8px;
}

.notification_body_icon_rtr {
  position: relative;
  right: -8px;
}

.notification_body_icon_result {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1px;
  background-color: white;
  border-radius: 50%;
  color: black;
}

.notification_body_icon_result_ltr {
 left: -16px;
}

.notification_body_icon_result_rtr {
 right: -16px;
}

.notification_body_info {
  display: flex;
  flex-wrap: wrap;
  font-size: theme('fontSize.sm');
  color: theme('colors.textTheme.secondary')
}

.notification_date {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size:  theme('fontSize.extraSm');
  color: theme('colors.textTheme.secondary')
}

