.footer {
  background: theme("colors.base.secondary");
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 9.6875rem 1rem 9.6875rem;
  gap: 2rem;
  width: 100%;
  height: auto;
  @media screen and (max-width: 1200px) {
    padding: 2rem 3.4375rem 1rem 3.4375rem;
  }
  @media screen and (max-width: 768px) {
    padding: 2rem 2.5rem;
  }
  &-inner {
    display: flex;
    width: 100%;
    gap: 7rem;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
  &-right {
    display: flex;
    width: 48rem;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

.copyright {
  width: 100%;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.05rem */
  color: theme("colors.textTheme.primary");
  margin-left: 0.8rem;
  @media screen and (max-width: 1024px) {
    text-align: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 72rem;
  justify-content: space-between;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}
