.overlayDialogWrapper {
  position: fixed;
  overflow: hidden;
  border-radius: 0.75rem;
  background: #2a2b31;
  min-height: 25rem;
  padding: 2rem 1.5rem;
  overflow: auto;
  overscroll-behavior: contain;
  &::backdrop {
    background: rgba(0, 0, 0, 0.78);
    backdrop-filter: blur(2px);
  }
  @media screen and (max-width: 389px) {
    padding: 1rem;
  }
}

.dialogTitle {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: left;
}

.dialogHeader {
  height: 0;
  width: 100%;
  position: relative;
  z-index: 10;
}
