.buttonPlate{
    width: 79px;
    height: 40px;
    background: transparent;
    border: 1px solid theme('colors.base.base700');
    border-radius: 8px;
    display: flex;
    cursor: pointer;
}

.buttonLine{
    width: 1px;
    height: 40px;
    background: theme('colors.base.base700');
}

.buttonPlaya{
    width: 38px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: theme('colors.textTheme.primary');
    &:hover{color: theme('colors.textTheme.secondary')}
}