.alert-warning {
  border-radius: 0.625rem;
  border: 1px dashed #d8782f;
  padding: 0.9375rem 1.5rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  height: 3.375rem;
  &__text {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.05rem */
    color: theme("colors.textTheme.primary");
  }
}

.filled {
  background: #40251f;
}
