.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 3.49719rem 2.5625rem 0rem;
  margin-left: 0.8rem;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
  }
}
