.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
}

.label {
  width: 100%;
  color: theme('colors.textTheme.primary');
}

.input {
  all: unset;
  box-sizing: border-box;
  // position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 46px;
  padding: 12px 24px;
  background-color: theme('colors.base.base800');
  border: 1px solid theme('colors.base.base900');
  border-radius: 4px;
  color: theme('colors.textTheme.primary');
  transition: border-color 0.2s linear;
  overflow: hidden;

  &:hover {
    border-color: theme('colors.textTheme.primary');
    transition: border-color 0.2s linear;
  }

  &:focus {
    border-color: theme('colors.textTheme.primary');
  }
}

.error {
  border-color: theme('colors.error.error100');

  &:hover {
    border-color: theme('colors.error.error100');
  }
}
