.slider {
  position: relative;
  margin-top: -2px;
  width: 96%;
}

.rail {
  position: absolute;
  width: 104%;
  height: 2px;
  border-radius: 1.5px;
  cursor: pointer;
}

.handle {
  position: absolute;
  top: -6px;
  width: 12px;
  height: 12px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  // transition: all 0.1s ease-in;
}

.track {
  position: absolute;
  height: 2px;
  border-radius: 1.5px;
  cursor: pointer;
  // transition: all 0.1s ease-in;
}
