.error {
  border: 1px solid #e76143;
}

.header-container {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.button-style {
  border-radius: 8px;
  height: 2rem;
  width: 2rem;
  outline: none;
  border: 1px solid #33353c;
  cursor: pointer;
  background: #2a2b30;
  padding: 0.45rem 0.5rem 0.5rem 0.35rem;
}

.select-style {
  border-radius: 8px;
  height: 2rem;
  outline: none;
  width: 93px;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 16px;
  border: 1px solid #33353c;
  cursor: pointer;
  background: #2a2b30;
}

.calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 3rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid theme("colors.base.secondaryDefaultButton");
  border-radius: 6px;

  background-color: theme("colors.base.base900");
  dialog & {
    background: #35373f;
  }
}

.popper-he {
  margin-left: -70px;
}

.current-day {
  color: theme("colors.accent.primary");
}

.other-day {
  color: theme("colors.textTheme.secondary");
}

.day {
  color: theme("colors.textTheme.secondary");
}

.highlighted {
  border: 1px solid theme("colors.accent.primary");
}
