:root {
  --dl-color-base-800: rgba(53, 55, 63, 1);
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-base-inputs: rgba(42, 43, 49, 1);
  --dl-color-base-stroke: rgba(51, 53, 53, 1);
  --dl-color-primary-100: #003eb3;
  --dl-color-primary-300: #0074f0;
  --dl-color-primary-500: #14a9ff;
  --dl-color-primary-700: #85dcff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-base-primary: rgba(22, 22, 22, 1);
  --dl-color-text-primary: rgba(255, 255, 255, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-white: rgba(255, 255, 255, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-accent-primary: rgba(251, 229, 77, 1);
  --dl-color-base-secondary: rgba(36, 37, 41, 1);
  --dl-color-text-secondary: rgba(208, 208, 208, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-text-darkprimary: rgba(22, 22, 22, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-base-formdisabled: rgba(31, 32, 35, 1);
  --dl-color-text-disabledtext: rgba(131, 131, 131, 1);
  --dl-space-space-oneandhalfunits: 24px;
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
  transform: none !important;
}

.Content {
  font-size: 16px;

  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.Heading {
  font-size: 32px;

  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.Russianmain\(Roboto\)16500-Medium {
  font-size: 16px;
  font-style: normal;

  font-weight: 500px;
  font-stretch: normal;
}

.Paragraph\(Inter\)18500-Medium {
  font-size: 18px;
  font-style: normal;

  font-weight: 500px;
  font-stretch: normal;
}

.Paragraph\(Inter\)16400-Regular {
  font-size: 16px;
  font-style: normal;

  font-weight: 400px;
  font-stretch: normal;
}

.Russianmain\(Roboto\)20400-Regular {
  font-size: 20px;
  font-style: normal;

  font-weight: 400px;
  font-stretch: normal;
}

.Paragraph\(Inter\)12400-Regular {
  font-size: 12px;
  font-style: normal;

  font-weight: 400px;
  font-stretch: normal;
}

.Paragraph\(Inter\)16500-Medium {
  font-size: 16px;
  font-style: normal;

  font-weight: 500px;
  font-stretch: normal;
}

.Paragraph\(Inter\)20400-Regular {
  font-size: 20px;
  font-style: normal;

  font-weight: 400px;
  font-stretch: normal;
}

.Russianmain\(Roboto\)16400-Regular {
  font-size: 16px;
  font-style: normal;

  font-weight: 400px;
  font-stretch: normal;
}

.Russianmain\(Roboto\)25400-Regular {
  font-size: 25px;
  font-style: normal;

  font-weight: 400px;
  font-stretch: normal;
}

.Paragraph\(Inter\)14400-Regular {
  font-size: 14px;
  font-style: normal;

  font-weight: 400px;
  font-stretch: normal;
}

.frame36-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.frame36-frame36 {
  width: 100%;
  height: 1248px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(22, 22, 22, 1);
}

.frame36-text {
  top: 504px;
  left: 155px;
  color: rgba(255, 255, 255, 1);
  width: 965px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;

  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}

.frame36-top-navigation {
  gap: 958px;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 94px;
  display: flex;
  padding: 28px 40px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(51, 53, 53, 1);
  justify-content: space-between;
  background-color: var(--dl-color-base-primary);
}

.frame36-frame1410093497 {
  gap: 886px;
  width: 1360px;
  display: flex;
  padding: 0 115px;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.frame36-frame1410093482 {
  gap: 10px;
  width: 102px;
  height: 46px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-primarylogo051 {
  width: 102px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-group {
  top: 0px;
  left: 0px;
  width: 102.13482666015625px;
  height: 45.60333251953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-group01 {
  top: 0px;
  left: 0px;
  width: 102.13482666015625px;
  height: 45.60333251953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-group02 {
  top: 0px;
  left: 0px;
  width: 102.13482666015625px;
  height: 45.60333251953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-group03 {
  top: 35.35324478149414px;
  left: 0.04136782884597778px;
  width: 102.07577514648438px;
  height: 10.25012493133545px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-group04 {
  top: 0.10901465266942978px;
  left: 1.0194047828093744 e-9px;
  width: 7.14577054977417px;
  height: 9.979453086853027px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 10px;
  position: absolute;
}

.frame36-group05 {
  top: 0.11476684361696243px;
  left: 8.166336059570312px;
  width: 8.863362312316895px;
  height: 9.980895042419434px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector01 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 10px;
  position: absolute;
}

.frame36-group06 {
  top: 0.11764293164014816px;
  left: 18.45658302307129px;
  width: 8.007076263427734px;
  height: 9.982330322265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector02 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 10px;
  position: absolute;
}

.frame36-group07 {
  top: 0.12271033972501755px;
  left: 28.63742446899414px;
  width: 7.673595905303955px;
  height: 9.980890274047852px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector03 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 10px;
  position: absolute;
}

.frame36-group08 {
  top: 0.12709297239780426px;
  left: 37.69371032714844px;
  width: 1.501016616821289px;
  height: 9.978727340698242px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector04 {
  top: 0px;
  left: 0px;
  width: 2px;
  height: 10px;
  position: absolute;
}

.frame36-group09 {
  top: 0.12914732098579407px;
  left: 41.368370056152344px;
  width: 10.063163757324219px;
  height: 9.982335090637207px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector05 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
}

.frame36-group10 {
  top: -0.000003070366119573009px;
  left: 53.28938293457031px;
  width: 8.930063247680664px;
  height: 10.25012493133545px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector06 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 10px;
  position: absolute;
}

.frame36-group11 {
  top: 0.13928213715553284px;
  left: 64.07549285888672px;
  width: 8.007071495056152px;
  height: 9.982335090637207px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector07 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 10px;
  position: absolute;
}

.frame36-group12 {
  top: 0.14434953033924103px;
  left: 74.25579833984375px;
  width: 5.988990783691406px;
  height: 9.980895042419434px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector08 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 10px;
  position: absolute;
}

.frame36-group13 {
  top: 0.14873217046260834px;
  left: 81.94694519042969px;
  width: 1.5010075569152832px;
  height: 9.978723526000977px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector09 {
  top: 0px;
  left: 0px;
  width: 2px;
  height: 10px;
  position: absolute;
}

.frame36-group14 {
  top: 0.15010172128677368px;
  left: 85.62106323242188px;
  width: 8.007076263427734px;
  height: 9.982338905334473px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector10 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 10px;
  position: absolute;
}

.frame36-group15 {
  top: 0.15516914427280426px;
  left: 95.80136108398438px;
  width: 6.274418830871582px;
  height: 9.980177879333496px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector11 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 10px;
  position: absolute;
}

.frame36-group16 {
  top: 0px;
  left: 0px;
  width: 102.13482666015625px;
  height: 28.722139358520508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector12 {
  top: 0px;
  left: 0px;
  width: 102px;
  height: 29px;
  position: absolute;
}

.frame36-frame1410093840 {
  gap: 24px;
  height: 46px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.frame36-frame1410093317 {
  gap: 42px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
}

.frame36-button {
  height: 40px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}

.frame36-text002 {
  gap: 6px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.frame36-text003 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: center;
  line-height: normal;
}

.frame36-sign-in {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-sign-in1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.frame36-input {
  gap: 12px;
  top: 602px;
  left: 546px;
  width: 325px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-title {
  gap: 157px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.frame36-title01 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.frame36-text005 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-singleselect {
  gap: 145px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(51, 53, 53, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-base-inputs);
}

.frame36-frame1410093148 {
  gap: 63px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.frame36-text007 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-caret-down {
  width: 24px;
  height: 24px;
}

.frame36-input1 {
  gap: 12px;
  top: 736px;
  left: 546px;
  width: 325px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-title02 {
  gap: 157px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.frame36-title03 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.frame36-text009 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-singleselect1 {
  gap: 145px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(51, 53, 53, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-base-inputs);
}

.frame36-frame14100931481 {
  gap: 45px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.frame36-text011 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-caret-down1 {
  width: 24px;
  height: 24px;
}

.frame36-input2 {
  gap: 12px;
  top: 736px;
  left: 155px;
  width: 325px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-title04 {
  gap: 157px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.frame36-title05 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.frame36-text013 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-info {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-info1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.frame36-text015 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}

.frame36-inputform {
  gap: -7px;
  height: 57px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-body {
  gap: 10px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(51, 53, 53, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  background-color: var(--dl-color-base-inputs);
}

.frame36-text016 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.frame36-text017 {
  color: rgba(255, 255, 255, 1);
  width: 277px;
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-currencies {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-layer2 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-layer1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector13 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.frame36-vector14 {
  top: 3.1369621753692627px;
  left: 6.236073017120361px;
  width: 12px;
  height: 14px;
  position: absolute;
}

.frame36-vector15 {
  top: 3.1245124340057373px;
  left: 1.537500023841858px;
  width: 12px;
  height: 14px;
  position: absolute;
}

.frame36-slider {
  width: 325px;
  height: 12px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-rectangle12224563 {
  top: 7px;
  left: 316px;
  width: 308px;
  height: 2px;
  position: absolute;
  border-radius: 1.5px;
}

.frame36-rectangle12224564 {
  top: 7px;
  left: 315px;
  width: 315px;
  height: 2px;
  position: absolute;
  border-radius: 1.5px;
}

.frame36-ellipse69 {
  top: 12px;
  left: 325px;
  width: 12px;
  height: 12px;
  position: absolute;
}

.frame36-message {
  gap: 4px;
  width: 325px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
}

.frame36-frame24 {
  gap: 4px;
  display: flex;
  padding: 6px 12px;
  flex-grow: 1;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--dl-color-base-secondary);
}

.frame36-warning-circle {
  width: 16px;
  height: 16px;
}

.frame36-text019 {
  color: rgba(255, 255, 255, 1);
  width: 272px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;

  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame36-text020 {
  color: var(--dl-color-text-primary);
  font-weight: 400;
}

.frame36-text021 {
  font-weight: 700;
}

.frame36-text025 {
  color: var(--dl-color-text-primary);
  font-weight: 400;
}

.frame36-input3 {
  gap: 12px;
  top: 602px;
  left: 937px;
  width: 325px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-title06 {
  gap: 157px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.frame36-title07 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.frame36-text027 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-singleselect2 {
  gap: 145px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(51, 53, 53, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-base-inputs);
}

.frame36-frame14100931482 {
  gap: 63px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.frame36-text029 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-caret-down2 {
  width: 24px;
  height: 24px;
}

.frame36-line6 {
  top: 925px;
  left: 155px;
  width: 1130px;
  height: 1px;
  position: absolute;
}

.frame36-frame1410093236 {
  top: 222px;
  left: 155px;
  width: 1130px;
  height: 242px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-rectangle12224468 {
  top: 0px;
  left: 0px;
  width: 1130px;
  height: 242px;
  position: absolute;
  border-radius: 10px;
}

.frame36-group427320857 {
  top: 144px;
  left: 1032px;
  width: 73px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-ellipse62 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 73px;
  position: absolute;
}

.frame36-speaker-slash {
  top: 21px;
  left: 20px;
  width: 32px;
  height: 32px;
  position: absolute;
}

.frame36-frame1410093235 {
  top: 56px;
  left: 60px;
  width: 345px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-text031 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;

  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.frame36-text033 {
  top: 66px;
  color: rgba(255, 255, 255, 1);
  width: 345px;
  height: auto;
  opacity: 0.9;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;

  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.frame36-arrows-out-simple {
  top: 33px;
  left: 1052px;
  width: 32px;
  height: 32px;
  position: absolute;
}

.frame36-progressbar {
  gap: 10px;
  top: 97px;
  left: 0px;
  width: 1440px;
  display: flex;
  padding: 10px 155px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-base-formdisabled);
}

.frame36-frame1410093239 {
  gap: 17px;
  width: 1125px;
  display: flex;
  padding: 20px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
}

.frame36-steptitle {
  gap: 10px;
  display: flex;
  align-items: center;
}

.frame36-step {
  width: 31px;
  height: 31px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-ellipse66 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  position: absolute;
}

.frame36-text035 {
  top: 4px;
  left: 10px;
  color: var(--dl-color-text-darkprimary);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;

  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.frame36-group1410093055 {
  width: 202px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-text036 {
  color: var(--dl-color-text-primary);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}

.frame36-line33 {
  width: 62px;
  height: 1px;
  flex-grow: 1;
}

.frame36-steptitle1 {
  gap: 10px;
  display: flex;
  align-items: center;
}

.frame36-step1 {
  width: 31px;
  height: 31px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-ellipse67 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  position: absolute;
}

.frame36-text038 {
  top: 4px;
  left: 10px;
  color: var(--dl-color-text-disabledtext);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;

  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.frame36-group14100930551 {
  width: 147px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-text039 {
  color: var(--dl-color-text-disabledtext);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-line34 {
  width: 62px;
  height: 1px;
  flex-grow: 1;
}

.frame36-steptitle2 {
  gap: 10px;
  display: flex;
  align-items: center;
}

.frame36-step2 {
  width: 31px;
  height: 31px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-ellipse671 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  position: absolute;
}

.frame36-text041 {
  top: 4px;
  left: 10px;
  color: var(--dl-color-text-disabledtext);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;

  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.frame36-group14100930552 {
  width: 77px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-text042 {
  color: var(--dl-color-text-disabledtext);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-line35 {
  width: 62px;
  height: 1px;
  flex-grow: 1;
}

.frame36-steptitle3 {
  gap: 10px;
  display: flex;
  align-items: center;
}

.frame36-step3 {
  width: 31px;
  height: 31px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-ellipse672 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  position: absolute;
}

.frame36-text044 {
  top: 4px;
  left: 10px;
  color: var(--dl-color-text-disabledtext);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;

  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.frame36-group14100930553 {
  width: 248px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-text045 {
  color: var(--dl-color-text-disabledtext);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-input4 {
  gap: 12px;
  top: 602px;
  left: 155px;
  width: 325px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-title08 {
  gap: 157px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.frame36-title09 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.frame36-text047 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-text049 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}

.frame36-inputform1 {
  gap: -7px;
  height: 57px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-body1 {
  gap: 10px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(51, 53, 53, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  background-color: var(--dl-color-base-inputs);
}

.frame36-text050 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.frame36-text051 {
  color: rgba(255, 255, 255, 1);
  width: 277px;
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-currencies1 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-layer21 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-layer11 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector16 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.frame36-vector17 {
  top: 3.1369621753692627px;
  left: 6.236073017120361px;
  width: 12px;
  height: 14px;
  position: absolute;
}

.frame36-vector18 {
  top: 3.1245124340057373px;
  left: 1.537500023841858px;
  width: 12px;
  height: 14px;
  position: absolute;
}

.frame36-input5 {
  gap: 12px;
  top: 965px;
  left: 155px;
  width: 325px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-title10 {
  gap: 157px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.frame36-title11 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.frame36-text053 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-info2 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-info3 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.frame36-text055 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}

.frame36-inputform2 {
  gap: -7px;
  height: 57px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-body2 {
  gap: 10px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(51, 53, 53, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  background-color: var(--dl-color-base-inputs);
}

.frame36-text056 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.frame36-text057 {
  color: rgba(255, 255, 255, 1);
  width: 277px;
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-slider1 {
  width: 325px;
  height: 12px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-rectangle122245631 {
  top: 7px;
  left: 316px;
  width: 308px;
  height: 2px;
  position: absolute;
  border-radius: 1.5px;
}

.frame36-rectangle122245641 {
  top: 7px;
  left: 315px;
  width: 315px;
  height: 2px;
  position: absolute;
  border-radius: 1.5px;
}

.frame36-ellipse691 {
  top: 12px;
  left: 325px;
  width: 12px;
  height: 12px;
  position: absolute;
}

.frame36-frame1410093244 {
  gap: 207px;
  width: 325px;
  display: flex;
  padding: 6px 0;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.frame36-text059 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-text061 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: right;
  line-height: normal;
}

.frame36-input6 {
  gap: 12px;
  top: 965px;
  left: 546px;
  width: 325px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-title12 {
  gap: 157px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.frame36-title13 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.frame36-text063 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-text065 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}

.frame36-inputform3 {
  gap: -7px;
  height: 57px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-body3 {
  gap: 10px;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(51, 53, 53, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  background-color: var(--dl-color-base-inputs);
}

.frame36-text066 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.frame36-text067 {
  color: rgba(255, 255, 255, 1);
  width: 277px;
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-currencies2 {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-layer22 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-layer12 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame36-vector19 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.frame36-vector20 {
  top: 3.1369621753692627px;
  left: 6.236073017120361px;
  width: 12px;
  height: 14px;
  position: absolute;
}

.frame36-vector21 {
  top: 3.1245124340057373px;
  left: 1.537500023841858px;
  width: 12px;
  height: 14px;
  position: absolute;
}

.frame36-slider2 {
  width: 325px;
  height: 12px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-rectangle122245632 {
  top: 7px;
  left: 316px;
  width: 308px;
  height: 2px;
  position: absolute;
  border-radius: 1.5px;
}

.frame36-rectangle122245642 {
  top: 7px;
  left: 315px;
  width: 315px;
  height: 2px;
  position: absolute;
  border-radius: 1.5px;
}

.frame36-ellipse692 {
  top: 12px;
  left: 325px;
  width: 12px;
  height: 12px;
  position: absolute;
}

.frame36-frame14100932441 {
  gap: 207px;
  width: 325px;
  display: flex;
  padding: 6px 0;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.frame36-text069 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-text071 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: right;
  line-height: normal;
}

.frame36-button1 {
  top: 1114px;
  left: 1036px;
  width: 249px;
  height: 56px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-accent-primary);
}

.frame36-text073 {
  gap: 6px;
  display: flex;
  padding: 0 39px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.frame36-text074 {
  color: var(--dl-color-text-darkprimary);
  height: auto;
  text-align: center;
  line-height: normal;
}

.frame36-rectangle12224541 {
  top: -1px;
  left: 0px;
  width: 1440px;
  height: 1249px;
  position: absolute;
}

.frame36-basic-module {
  gap: 24px;
  top: 9rem;
  left: 36%;
  /*width: 600px;*/
  display: flex;
  padding: 24px 32px 32px;
  overflow: hidden;
  position: fixed;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 53, 53, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-base-inputs);
}

.frame36-frame1410093408 {
  gap: 16px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.frame36-frame1410093471 {
  gap: 16px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.frame36-x {
  width: 24px;
  height: 24px;
}

.frame36-text076 {
  color: var(--dl-color-text-primary);
  width: 551px;
  height: auto;
  text-align: left;
  line-height: normal;
}

.frame36-text081 {
  color: var(--dl-color-text-secondary);
  width: 551px;
  height: auto;
  opacity: 0.9;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-frame1410093409 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.frame36-input7 {
  gap: 12px;
  width: 538px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-title14 {
  gap: 157px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.frame36-title15 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.frame36-text083 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-phone-number {
  gap: 12px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(65, 67, 78, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-base-800);
}

.frame36-frame1410093153 {
  width: 66px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-frame1410093150 {
  top: 12px;
  left: 0px;
  width: 52px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-frameisrael {
  top: 4px;
  left: 0px;
  width: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.frame36-artwork {
  width: 22px;
  height: 16px;
}

.frame36-caret-down3 {
  top: 0px;
  left: 28px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.frame36-line15 {
  top: 0px;
  left: 66px;
  width: 48px;
  height: 1px;
  position: absolute;
}

.frame36-text085 {
  color: var(--dl-color-text-disabledtext);
  width: 215px;
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-input8 {
  gap: 12px;
  width: 538px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame36-title16 {
  gap: 157px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.frame36-title17 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.frame36-text087 {
  color: var(--dl-color-text-primary);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-password {
  gap: 10px;
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(65, 67, 78, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--dl-color-base-800);
}

.frame36-content {
  gap: 182px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.frame36-text089 {
  color: var(--dl-color-text-disabledtext);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-icon-eyes {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame36-eye-slash {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.frame36-text091 {
  color: rgba(208, 208, 208, 1);
  width: 538px;
  height: auto;
  opacity: 0.9;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-text092 {
  color: var(--dl-color-text-secondary);
}

.frame36-text093 {
  color: var(--dl-color-accent-primary);
}

.frame36-text094 {
  color: var(--dl-color-text-secondary);
}

.frame36-frame1410093410 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.frame36-button2 {
  width: 538px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-accent-primary);
}

.frame36-text096 {
  gap: 6px;
  display: flex;
  padding: 0 39px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.frame36-text097 {
  color: var(--dl-color-text-darkprimary);
  height: auto;
  text-align: center;
  line-height: normal;
}

.frame36-text099 {
  color: rgba(208, 208, 208, 1);
  height: auto;
  opacity: 0.9;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}

.frame36-text100 {
  color: rgba(208, 208, 208, 1);
}

.frame36-text101 {
  color: var(--dl-color-text-secondary);
}
